h1 {
  color: black;
  font-family: monospace;
  text-align: left;
  font-size: 30px;
}
h3 {
  color: black;
  font-family: monospace;
  text-align: left;
  font-size: 20px;
}

li:a hover {
   color: black;
  font-family: monospace;
  font-size: 20px;
  text-align: left;
   background-color: grey;
}

.img {
  text-align: left;
}
