h1 {
  color: purple;
  font-family: monospace;
  text-align: center;
  font-size: 50px
}
h3 {
  color: purple;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
}
  }
li a:active {
    background-color: grey;
}
