h1 {
  color: black;
  font-family: monospace;
  font-size: 30px
}
h3 {
  color: black;
  font-family: monospace;
  font-size: 20px;
}
  }
li a:hover {
   color: black;
  font-family: monospace;
  font-size: 20px
   background-color: grey;
}
